<div class="border-bottom border-2 border-dark">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-12 col-md-6 py-1 py-md-5 text-center text-md-start">
                <h1 class="display-1">Algorithms.</h1>
                <p class="fs-4 lh-1 text-muted fw-500 pbolder fw-500 pb-5">
                    Quickly find the best Python algorithms for your project.
                </p>
                <a href="https://github.com/erolgelbul">
                    <button type="button" class="btn btn-dark rounded-pill fw-500 fs-5 px-4">Explore on GitHub</button>
                </a>
            </div>
        </div>
    </div>
</div>
